# Entorno
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db

# Datos crudos (grandes y no necesarios para la app)
data/raw/

# Figuras PNG (la app usa Plotly)
reports/figures/